*{
    margin: 0;
    padding: 0;
    color: #aaa;
}

body{
    /* height: 400px; */
    /* background-color:  rgb(20,29,38); */
    /* display: flex;
    justify-items: center;
    align-items: center; */
    position: relative;
    background-image: url('../img/back.jpg');
    background-size: cover;
    /* min-height: 1000px;; */
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
}
nav h1{
    letter-spacing: 3px;
    color: #eee;
    /* margin: auto; */
}
nav{
    display: flex;
    height: 70px;;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
nav .logo{
    font-size: 24px;
}
nav .menu {
    /* background-color: antiquewhite; */
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    ;
}
nav .menu p{
    letter-spacing: 1px;
    color: #eee
}
.box-nav{
    border: 1px solid #ccc;
    /* background-color: blueviolet; */
    padding: 4px;
    width: 70px;
    border-radius: 20px;;
    text-align: center;
}
a{
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    /* text-transform: uppercase; */
}



.container{
    margin: auto;
    min-height: 520px;
    max-height: 520px;
    overflow: auto;
    width: 80%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
    
}
.about h1, .about h2{
    font-family:'Poppins','sans-serif' ;
    font-weight: 500;
    line-height: 1.2;
    /* line-height: 30px; */
}
.container .about h1{
    font-family: 'Poppins','sans-serif';
    font-weight: 600;
}
.container .about img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgba(100, 100, 100, 0.5);
    /* margin: auto; */
}
.container p{
    text-align: center;
}
.portfolio{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: grid;
    /* justify-content: space-around; */
    align-items: center;
    grid-template-columns: 1fr;
    height: 400px;
    overflow: auto;

}
.portfolio ul li img{
    width: 300px;
}
.portfolio .image{
    /* width: ; */
    list-style: none;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    /* align-items:center ; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.portfolio ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-items: center;
    /* align-items: center; */
}
.portfolio h1{
    text-align: center;
    font-family:'Poppins','sans-serif' ;
    font-weight: 700;
    /* transform: translateY(-20px); */
}

.social ul{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}
.social ul li img{
    width: 50px;
}



footer{
    left: 5%;
    top: 580px;
    z-index: 100;
    position: fixed;
    /* bottom: -150px; */
    display: flex;
    width: 90%;
    height: 60px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
}
.item-bawah{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #eee;
}
.item-bawah:hover{
    font-size: 20px;
    transition: 0.2s;
}
