*{
    margin: 0;
    padding: 0;
    color: #aaa;
}

body{
    position: relative;
    background-image: url('../img/back.jpg');
    background-size: cover;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
}




/* NAVBAR */





nav h1{
    letter-spacing: 3px;
    cursor: pointer;
    color: #eee;
}
nav{
    display: flex;
    height: 70px;;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
nav .logo{
    font-size: 24px;
}
nav .menu {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    ;
}
nav .menu p{
    letter-spacing: 1px;
    color: #eee
}
.box-nav{
    transform: scale(1.1,1.1);
    border: 1px solid #ccc;
    padding: 6px;
    width: 70px;
    border-radius: 20px;;
    text-align: center;
}
a{
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}




/* CONTENT */





.container{
    margin: auto;
    min-height: 520px;
    max-height: 520px;
    overflow: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about h1, .about h2{
    font-family:'Poppins','sans-serif' ;
    font-weight: 500;
    line-height: 1.2;
}
.container .about h1{
    font-family: 'Poppins','sans-serif';
    font-weight: 600;
}
.container .about img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgba(100, 100, 100, 0.5);
}
.container p{
    text-align: center;
}
.portfolio{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    height: 400px;
    overflow: auto;

}
.portfolio ul li img{
    width: 300px;
}
.portfolio .image{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.portfolio ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-items: center;
}
.portfolio h1{
    text-align: center;
    font-family:'Poppins','sans-serif' ;
    font-weight: 700;
}

.social ul{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.social ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}
.social ul li img{
    width: 50px;
}




/* FOOTER */




footer{
    left: 5%;
    top: 580px;
    z-index: 100;
    position: fixed;
    /* bottom: -150px; */
    display: flex;
    width: 90%;
    height: 60px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
}
.item-bawah{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #eee;
}
.item-bawah:hover{
    font-size: 20px;
    transition: 0.2s;
}




/* RESPONSIVE */




@media screen and (max-width:480px){
    body{
        background-size:auto;
        height: 100%;
    }
    nav{
        display: flex;
    }
    nav h1{
        font-size: 0.92em;
    }
    nav .menu{
        transform: scale(0.7,0.7);
    }
    .container .about img{
        width: 150px;
    }
    .container .about h1{
        font-size: 2em;
    }
    .container .about h2{
        font-size: 1em;
    }
    p{
        font-size: 0.8em;
    }
    .item-bawah{
        font-size: 0.85em;
    }
    .social ul{
        gap: 2px;
    }
    .portfolio ul li img{
        margin-top: 10px;
        width: 230px;
    }
    
    .item-bawah:hover{
        font-size: 0.95em;
        transition: 0.2s;
    }


}